/* Global CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box
}


body {
    font-family: 'Satoshi Regular';
    width: 100%;
    background: white;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
.body::-webkit-scrollbar {
    display: none;
}


/* Stack rows vertically */
.site-header {
    display: flex;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    flex-direction: column;
    width: 100%;
    height: 120px;
    background-color: #f2f2f2;
}


.logo svg {
    display: flex;
    justify-self: flex-start;
    width: 30vw;
    padding-left: 0.5rem;
    max-width: 250px;
    height: auto;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.header-icons svg {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    padding-left: 0.2rem;
    flex-shrink: 0;
    color: #1F6F78;
}

/* Logo and Icons row */
.top-row {
    display: flex;
   justify-content: space-between;
    margin-bottom: 1rem;
}

/* Re-arranging icons */
#icon-1 {
    flex: 1;
    order: 3;
}

#icon-2 {
    flex: 1;
    order: 2;
}

#icon-3 {
    flex: 1;
    order: 1;
}

/* Search-row customization */
.search-row {
    display: flex;
    width: 100%;
    margin: 0;
}

#search-input {
    display: flex;
    width: 96%;
    padding-inline: 0.5rem;
    margin-left: 1.5rem;
    border-width: 1px;
    border-radius: 40px;
    outline: none;
}

#search-logo {
    width: 1.2rem;
    height:1.2rem;
    padding: 0.2rem;
    flex-shrink: 0;
    color: #FF7F2A;
}
.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: none;
    border-width: 0px;
    margin-right: 1.5rem;
    background-color: #1F6F78;
    width: 32px; 
    height: 32px;
    border-radius: 50%;
    outline: none;
}


/* Navigation-row */
.main-nav {
    display: flex;
    align-self: center;
    padding-right: 0;
    margin-top: 6px;
    color: #1F6F78;
}

#nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 0.5rem;
    margin-top: -50px;
}

#nav-links::-webkit-scrollbar {
    display: none;
}

#nav-links a {
   
    text-decoration: none;
    color: #1F6F78;

}

#nav-links li {
    flex-shrink: none;
}


/* Eye Catcher */
.advert {
    padding: 1rem;
    background: #f5f5f5;
}

.advert-head {
    margin-bottom: 2px;
}

.advert-descr {
    font-family: 'Satoshi Light Italic';
    font-size: 12px;
}

.advert-btn {
    font-family: 'Satoshi Medium';
    padding: 8px;
    border-width: 0;
    border-radius: 20px;
    margin-top: 16px;
    color:#FF7F2A;
    background: #1F6F78;
}

/* Digital Shop Poster */
.shop-poster {
    background: #F5D627;
}

.poster-content {
    padding: 1rem;
}

.poster-head {
    font-family: 'Satoshi Medium';
    font-size: 30px;
}

.poster-descr {
    font-family: 'Satoshi Light Italic';
}

.poster-btn {
    padding-inline: 1rem;
}

/* Recently Viewed & For You */
.for-you {
    display: column;
    width: 100;
    margin: 20px 0px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 0.5rem 0 0.5rem;
}

.section-header a {
    color:#1F6F78
}

.subtitle {
    font-family: 'Satoshi Italic';
    padding-left: 0.5rem;
}

.product-row {
    display: flex;
    padding: 0.5rem 0.5rem 0 0.5rem;
    overflow-x: auto;
    gap: 25px;
}

.product-row::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex-shrink: 0;
    width: 40%;
    border-radius: 15px;
    background: #f5f5f5;
}


.img-box {
   width: 100%;
   aspect-ratio: 1/1;
   border-radius: 15px;
   overflow: hidden;
   position: relative;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card h4 {
    font-family: 'Satoshi Regular';
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price-row {
    display: flex;
    align-items: flex-end;
    gap: 4px;
    overflow: hidden;
}

.price {
    font-family: 'Satoshi Medium';
}

.price-qty {
    font-size: 12px;
}

/* For You Buttons */
.for-you-btn {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.buy-now {
    font-family: 'Satoshi Medium';
    padding: 8px;
    border-width: 0;
    border-radius: 20px;
    margin-top: 10px;
    color:#FF7F2A;
    background: #1F6F78;
}

.cart {
    padding: 8px;
    border-width: 1px;
    border-color: #1F6F78;
    border-radius: 20px;
    margin-top: 10px;
    background: none;
}

.cart svg {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.2rem;
    flex-shrink: 0;
    color: #FF7F2A;
}

.deals-column {
    padding: 0.5rem;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 39px;
}

.deals-column .product-card {
    width: 45%;
}

.footer {
    background: #1F6F78;
    padding: 0;
    margin-top: 60px;
}

.main-links {
    padding: 2rem 0 1rem 0.5rem;
}

.main-links p {
    margin-bottom: 10px;
}

.main-links a {
    text-decoration: none;
    color: #f5f5f5;
}

.footer .footer-bar {
    display: auto;
    border: none;
    height: 1px;
    background: #f5f5f5;
    margin: 0 6px;
}

.sub-links {
    padding-top: 1.5rem;
    text-align: center;
}

.sub-links p {
    align-self: center;
    color: #D3D3D3;
}

.sub-links p a {
    color:#FF7F2A;
}

.copyright {
    text-align: center;
    padding: 0.5rem 0 2rem 0;
    color:#D3D3D3;
}



/* Tablets */
@media (min-width: 768px) {
    body {font-size: 18px;
    }
}

/* Laptops/Desktops */
@media (min-width: 1024px) {
    body {font-size: 20px;
    }
}
