/* Global CSS */

body {
    font-family: 'Satoshi Regular';
    width: 96%;
    color: white;
    margin: 0;
    padding: 0;
}

/* Stack rows vertically */
.site-header {
    display: flex;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    flex-direction: column;
    width: 100%;
    height: 120px;
    gap: 0.8rems;
    background-color: #f2f2f2;
}


.logo svg {
    display: flex;
    width: 30vw;
    padding-left: 0.5rem;
    max-width: 250px;
    height: auto;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.header-icons svg {
    display: flex;
    width: 2rem;
    height: 1.5rem;
    flex-shrink: 0;
    color: #1F6F78;
}

/* Logo and Icons row */
.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

/* Re-arranging icons */
#icon-1 {
    flex: 1;
    order: 3;
}

#icon-2 {
    flex: 1;
    order: 2;
}

#icon-3 {
    flex: 1;
    order: 1;
}

/* Search-row customization */
.search-row {
    display: flex;
    align-content: center;
    width: 100%;
    max-width: 600px;
    margin: 0;
}

#search-input {
    display: flex;
    width: 96%;
    padding-inline: 0.5rem;
    margin: 0 auto;
    border-right: none;
    border-width: 1px;
    border-radius: 3px;
    outline: none;
}

#search-logo {
    width: 1.2rem;
    height:1.2rem;
    padding: 0.2rem;
    flex-shrink: 0;
    color: #FF7F2A;
}
.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: none;
    border-width: 0px;
}

button {
    background-color: #1F6F78;
    width: 8%;
    border-radius: 6px 3px 3px 6px;
    margin-left: -57px;
}

/* Navigation-row */
.main-nav {
    display: flex;
    align-self: center;
    padding-right: 2rem;
    margin-top: 6px;
    overflow: hidden;
    color: #1F6F78;
}

#nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
    flex-wrap: nowrap;
    flex-direction: row;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}

#nav-links ::-webkit-scrollbar {
    display: none;
}

#nav-links a {
    text-decoration: none;
    color: #1F6F78;

}

#nav-links li {
    flex-shrink: none;
}
