@font-face {
    font-family: Satoshi;
    src: url(satoshi-webfont/Satoshi-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Satoshi;
    src: url(satoshi-webfont/Satoshi-Medium.woff);
    font-weight:300
}

@font-face {
    font-family: Satoshi;
    src: url(satoshi-webfont/Satoshi-Bold.woff);
    font-weight: 700;
    font-style: bold;
}

*{
    box-sizing: border-box;
}

body{
    font-family: Satoshi;
    background: #181818;
    color: #fff;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6{
    font-weight:300;
}

strong{
    font-family: Satoshi;
    font-weight: 700;
    font-style: bold;
}


#wrapper{
    display: flex;
    flex-direction: row;
}

#left{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Sign In */
#signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 1rem;
}

#signin form{
    width: 80%;
    padding-bottom: 3rem;
}

#signin .logo{
    margin-bottom: 8vh;
}

#signin .logo img{
    width: 300px;
}

#signin label{
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 300;
}

#signin .text-input{
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 2px;
    background: #181818;
    border: 1px solid #555;
    color: #ccc;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}

#right{
    flex: 1;
}

#signin .primary-btn{
    width:100%
}

#signin .secondary-btn,
.or, .links {
    width: 60%
}

#signin .links a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

#signin .or {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
    align-items: center;
}

#signin .or .bar {
    flex: auto;
    border: none;
    height: 1px;
    background: #aaa;
}

#signin .or span {
    color: #aaa;
    padding: 0 0.8rem;
}

/* Showcase */
#showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('img/login bg-logo.jpg') no-repeat center center / cover;
    height: 100vh;
    text-align: center;
}

#showcase .showcase-text {
    font-size: 3rem;
    width: 100%;
    color: #fff;
    margin-bottom: 1.5rem;
}

#showcase .secondary-btn {
    width: 60%;
    margin: auto;

}

#main-footer {
    color: #ccc;
    text-align: center;
    font-size: 0.8rem;
    max-width: 80%;
    padding-top: 5rem;
}

#main-footer a {
    color:#1F6F78;
    text-decoration: underline;
}

/* Button */
.primary-btn{
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 0;
    border-radius: 2px;
    font-weight: 700;
    background: #1F6F78;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}

.primary-btn:hover{
    background-color: #3FA39C;
}

.secondary-btn{
    padding: 0.5rem 1rem;
    height: 2.7rem;
    display: block;
    border: 1px solid #f4f4f4;
    border-radius: 2px;
    font-weight: 300;
    background: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}

.secondary-btn:hover{
    border-color: #3FA39C;
    color:#3FA39C
}


/* Media Quaries */
@media(min-width: 1200px) {
    #left{
        flex: 4;
    }

    #right{
        flex: 6;
    }
}


@media(max-width: 768px) {
    body {
        overflow: auto;
    }
    #right {
        display: none;
    }

    #left {
        justify-content: start;
        margin-top: 3vh;
    }

    #signin .logo {
        margin-bottom: 2vh;
    }

    #signin .text-input {
        margin-bottom: 0.7rem;
    }

    #main-footer {
        padding-top: 2rem;
    }
}